<% provide(:title, "Help") %>

    <h1>Help</h1>
    <p>
      Get hlep on the Ruby on Rails Tutorial at the 
      <a href="https://www.railstutorial.org/help">Ruby on Rails Tutorials Help Page</a>
      book
    </p>
